:root{
    --c1:coral;
    --c2:lightblue;
    --ff:sans-serif;
}

body{
    font-family: var(--ff);

    max-width: 960px;
    margin: 10px auto;

    padding: 20px;

    background-color: var(--c1);
}

header nav{
    list-style: none;
    padding-left: 0;

    display: flex;
    gap:10px
}

a{
    text-decoration: none;
    color:var(--c1);
    
}

header, main, footer{
    padding: 16px 20px;
    border-radius: 20px;
    background-color: white;
    margin:0 0 20px 0;
}

header nav ul,
footer nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    gap:10px;
    margin: 0;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-weight:bold;
}



pre{
    background:#EEE;
    padding:20px;
    overflow:scroll;
    border-radius:20px;
    outline: dashed 1px var(--c1);
    outline-offset:5px;
    border:solid 3px var(--c1);
}