:root{
    --c1:coral;
    --c2:lightblue;
    --ff:sans-serif;
}

body{
    font-family: var(--ff);

    max-width: 960px;
    margin: 10px auto;

    padding: 20px;

    background-color: var(--c1);
}

header nav{
    list-style: none;
    padding-left: 0;

    display: flex;
    gap:10px
}

a{
    text-decoration: none;
    color:var(--c1);
    
}

header, main, footer{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin:0 0 20px 0;
}